
* {
    font: "JetBrainsMono Nerd Font 10";
    background-color: transparent;

    foreground: #B6AAAD;
    active-background: rgba(182,170,173, 0.8);
    urgent-background: #3A2B2F;
    color: #B6AAAD;
    prompt: #A8A2A4;
    entry: #6D3537;
    selected-background: #17161B;
    selected-urgent-background: @urgent-background;
    selected-active-background: #A8A2A4;
    separatorcolor: @active-background;
    bordercolor: @selected-background;
}